.woocommerce a.button,
.woocommerce-page .wp-element-button,
.woocommerce .product form.cart .button,
.single-product #review_form #respond .form-submit input,
.woocommerce-page .woocommerce-address-fields button,
.woocommerce-page .woocommerce-MyAccount-content button,
.woocommerce-page .woocommerce-form-login button {
  display: inline-block;
  color: #fff;
  background: var(--e-global-color-primary);
  font-size: 16px;
  font-weight: normal;
  border-radius: 30px;
  padding: 13px 27px;
  transition: 0.3s;
  border: 1px solid var(--e-global-color-primary);
}
.woocommerce a.button:hover,
.woocommerce-page .wp-element-button:hover,
.woocommerce .product form.cart .button:hover,
.single-product #review_form #respond .form-submit input:hover,
.woocommerce-page .woocommerce-address-fields button:hover,
.woocommerce-page .woocommerce-MyAccount-content button:hover,
.woocommerce-page .woocommerce-form-login button:hover {
  background: transparent;
  border: 1px solid #C8C8C8;
  color: var(--color-body);
}

.woocommerce .product .woocommerce-loop-product__title {
  font-size: 18px !important;
}
.woocommerce .product .woocommerce-loop-product__title:hover {
  color: var(--e-global-color-primary);
}
.woocommerce .product .price {
  color: var(--color-title) !important;
}
.woocommerce .product span.onsale {
  background: var(--e-global-color-primary);
  padding: 0;
  z-index: 2;
}
.woocommerce .product .star-rating {
  margin: 0 auto 0.5em;
}
.woocommerce nav.woocommerce-pagination ul {
  border: none;
}
.woocommerce nav.woocommerce-pagination ul li {
  border: none;
}
.woocommerce nav.woocommerce-pagination ul li span, .woocommerce nav.woocommerce-pagination ul li a {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-weight: 700;
  color: var(--color-body);
}
.woocommerce nav.woocommerce-pagination ul li span.current, .woocommerce nav.woocommerce-pagination ul li span:hover, .woocommerce nav.woocommerce-pagination ul li a.current, .woocommerce nav.woocommerce-pagination ul li a:hover {
  background: var(--e-global-color-primary);
  color: #fff;
}
.woocommerce ul.products.columns-3 li.product,
.woocommerce .woocommerce-page ul.products.columns-3 li.product {
  background: #f8f9fa;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}
.woocommerce .woocommerce-ordering,
.woocommerce div.product form.cart .variations {
  position: relative;
  margin: 0 0 2em;
}
.woocommerce .woocommerce-ordering select,
.woocommerce div.product form.cart .variations select {
  vertical-align: top;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  outline: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: relative;
  background: transparent;
}
.woocommerce .woocommerce-ordering:after,
.woocommerce div.product form.cart .variations:after {
  content: "\e809";
  font-family: rt-icons;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  right: 14px;
  top: 12px;
  color: #171f32;
  z-index: -1;
}
.woocommerce .woocommerce-product-gallery .flex-control-nav li {
  padding: 10px 5px 0 5px;
}

.single-product div.product .product_title {
  margin-bottom: 20px;
}
.single-product div.product .price {
  margin-bottom: 10px;
  color: var(--color-title) !important;
}
.single-product div.product .variations_button {
  display: flex;
  align-items: center;
}
.single-product div.product .summary form table.variations th {
  padding-left: 0;
}
.single-product div.product .summary form .quantity {
  margin-right: 10px !important;
}
.single-product div.product .summary form .quantity .qty {
  width: 6em;
  padding: 8px;
  border: 1px solid var(--e-global-color-primary);
  border-radius: 6px;
}
.single-product div.product .summary form .quantity .qty:focus {
  outline: 0px;
}
.single-product div.product .woocommerce-tabs ul.tabs {
  padding-left: 0;
}
.single-product div.product .woocommerce-tabs ul.tabs li {
  border: none;
  background: transparent;
  margin: auto;
  margin-right: 5px;
  transition: all 0.5s ease 0s;
  font-family: var(--font-primary);
}
.single-product div.product .woocommerce-tabs ul.tabs li a {
  color: var(--color-title);
  font-weight: 400;
}
.single-product div.product .woocommerce-tabs ul.tabs li.active, .single-product div.product .woocommerce-tabs ul.tabs li:hover {
  background: var(--e-global-color-primary);
  color: #fff;
}
.single-product div.product .woocommerce-tabs ul.tabs li.active a, .single-product div.product .woocommerce-tabs ul.tabs li:hover a {
  color: #fff;
}
.single-product div.product .woocommerce-tabs ul.tabs li::after, .single-product div.product .woocommerce-tabs ul.tabs li::before {
  content: none;
}
.single-product div.product .woocommerce-tabs .shop_attributes td p {
  margin-left: 10px;
}
.single-product div.product .woocommerce-tabs .star-rating span {
  color: var(--e-global-color-primary);
}
.single-product div.product .woocommerce-tabs #commentform #comment {
  height: 150px;
  border-color: var(--e-global-color-secondary);
  padding: 10px;
}
.single-product div.product.product-type-simple form.cart {
  display: flex;
  align-items: center;
}
.single-product div.product div.images .woocommerce-product-gallery__trigger {
  z-index: 8;
}

.woocommerce-page .wc-block-components-product-metadata p {
  font-size: 16px !important;
}
.woocommerce-page .wc-block-components-product-name {
  font-size: 18px;
  font-family: var(--font-secondary);
}
.woocommerce-page .wc-block-cart-items .wc-block-cart-item__remove-link:hover {
  color: var(--e-global-color-primary) !important;
}
.woocommerce-page .wc-block-components-form .wc-block-components-text-input input,
.woocommerce-page .wc-blocks-components-select .wc-blocks-components-select__container,
.woocommerce-page .wc-blocks-components-select .wc-blocks-components-select__select {
  border-color: #ced4da !important;
}
.woocommerce-page .wc-block-components-form .wc-block-components-text-input input:focus-visible,
.woocommerce-page .wc-blocks-components-select .wc-blocks-components-select__container:focus-visible,
.woocommerce-page .wc-blocks-components-select .wc-blocks-components-select__select:focus-visible {
  outline-color: var(--e-global-color-primary);
}
.woocommerce-page .wp-block-woocommerce-cart .wc-block-grid__product-title {
  font-size: 16px;
}
.woocommerce-page .wp-block-woocommerce-cart .wc-block-grid__product-price {
  color: var(--color-title);
  font-weight: 700;
  font-size: 14px;
}
.woocommerce-page .wp-block-woocommerce-cart .wc-block-grid__product-add-to-cart.wp-block-button .wp-block-button__link {
  display: inline-block;
  font-family: var(--font-primary);
  text-align: center;
  font-weight: bold;
  padding: 8px 25px;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  background: var(--e-global-color-primary);
  line-height: 1.8;
}
.woocommerce-page .wp-block-woocommerce-cart .wc-block-grid__product-add-to-cart.wp-block-button .wp-block-button__link:hover {
  box-shadow: 2px 2px 20px 0px rgba(29, 29, 31, 0.5);
}
.woocommerce-page .wc-block-components-totals-coupon__form {
  align-items: center;
}
.woocommerce-page .wc-block-components-totals-coupon__form #wc-block-components-totals-coupon__input-coupon {
  border-color: var(--e-global-color-primary);
}
.woocommerce-page .wc-block-components-totals-coupon__form #wc-block-components-totals-coupon__input-coupon:focus {
  outline-color: var(--e-global-color-primary);
}
.woocommerce-page .wc-block-cart__submit-button:focus,
.woocommerce-page .wc-block-components-checkout-place-order-button:focus {
  box-shadow: none !important;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul {
  padding: 0;
  margin: 0;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul .woocommerce-MyAccount-navigation-link {
  background: transparent;
  border: 1px solid #ebebeb;
  position: relative;
  border-radius: 7px;
  transition: all 0.6s;
  list-style: none;
  margin-bottom: 10px;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul .woocommerce-MyAccount-navigation-link a {
  transition: all 0.6s;
  color: var(--e-global-color-secondary);
  padding: 15px 25px;
  padding-left: 60px;
  font-weight: normal;
  display: inline-block;
  width: 100%;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul .woocommerce-MyAccount-navigation-link:before {
  position: absolute;
  left: 30px;
  top: 50%;
  content: "\e80f";
  font-family: "rt-icons";
  transform: translateY(-50%);
}
.woocommerce-account .woocommerce-MyAccount-navigation ul .woocommerce-MyAccount-navigation-link:hover, .woocommerce-account .woocommerce-MyAccount-navigation ul .woocommerce-MyAccount-navigation-link.is-active {
  background: var(--e-global-color-primary);
  color: #fff !important;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul .woocommerce-MyAccount-navigation-link:hover a, .woocommerce-account .woocommerce-MyAccount-navigation ul .woocommerce-MyAccount-navigation-link.is-active a {
  color: #fff !important;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul .woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--dashboard:before {
  content: "\e832";
}
.woocommerce-account .woocommerce-MyAccount-navigation ul .woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--orders:before {
  content: "\e81e";
}
.woocommerce-account .woocommerce-MyAccount-navigation ul .woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--downloads:before {
  content: "\e831";
}
.woocommerce-account .woocommerce-MyAccount-navigation ul .woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--edit-address:before {
  content: "\e801";
}
.woocommerce-account .woocommerce-MyAccount-navigation ul .woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--edit-account:before {
  content: "\e808";
}
.woocommerce-account .woocommerce-MyAccount-content .woocommerce-MyAccount-orders.shop_table tr th {
  padding-top: 25px;
}
.woocommerce-account .woocommerce-MyAccount-content .woocommerce-MyAccount-orders.shop_table tr th:first-child,
.woocommerce-account .woocommerce-MyAccount-content .woocommerce-MyAccount-orders.shop_table tr td:first-child {
  padding-left: 25px;
}
.woocommerce-account .woocommerce-MyAccount-content .woocommerce-MyAccount-orders.shop_table tr:last-child td {
  padding-bottom: 20px;
}
.woocommerce-account .form-row input.input-text,
.woocommerce-account .woocommerce form .form-row textarea {
  height: 50px;
  padding: 15px;
  border: 1px solid rgba(54, 54, 54, 0.1);
}
.woocommerce-account .select2-container--default .select2-selection--single {
  height: 50px;
  padding: 10px;
  border: 1px solid rgba(54, 54, 54, 0.1);
}
.woocommerce-account .select2-container--default .select2-selection--single span {
  color: var(--color-body);
  padding: 0;
}
.woocommerce-account form.woocommerce-EditAccountForm fieldset {
  margin-bottom: 40px;
  margin-top: 30px;
}
.woocommerce-account .woocommerce-address-fields__field-wrapper {
  margin-bottom: 20px;
}
.woocommerce-account .woocommerce-form-login .woocommerce-form-login__rememberme {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.woocommerce-account .woocommerce-MyAccount-content mark {
  color: var(--e-global-color-primary);
}

@media only screen and (max-width: 767px) {
  h1.product_title {
    font-size: 35px;
    letter-spacing: -1px;
  }
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
  background-color: rgba(31, 171, 112, 0.5);
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-slider-range,
.woocommerce .widget_price_filter .price_slider_wrapper .ui-slider-handle {
  background-color: var(--e-global-color-primary);
}
.woocommerce .widget_price_filter .price_slider_wrapper .price_slider_amount .button {
  background-color: var(--e-global-color-primary);
  color: #fff;
}
.woocommerce .product h1 {
  font-size: 35px !important;
}
.woocommerce .product h2 {
  font-size: 30px !important;
}
.woocommerce .comment-reply-title,
.woocommerce .products li.product .onsale {
  font-weight: 400 !important;
}
.woocommerce .added_to_cart.wc-forward {
  margin-left: 10px;
}
.woocommerce div.product form.cart .button {
  opacity: 1;
}

.single-product .wc-sidebar {
  display: none;
}

@media (max-width: 767px) {
  .woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product {
    width: 100% !important;
  }
  .woocommerce form.woocommerce-ordering {
    width: 100%;
  }
}
.woocommerce-page .wc-block-checkout__form .wc-block-components-checkbox__label {
  font-weight: 400;
}/*# sourceMappingURL=woocommerce.css.map */