@font-face {
  font-family: 'rt-icons';
  src: url('../font/rt-iconse7e9.eot?43910631');
  src: url('../font/rt-iconse7e9.eot?43910631#iefix') format('embedded-opentype'),
       url('../font/rt-iconse7e9.woff2?43910631') format('woff2'),
       url('../font/rt-iconse7e9.woff?43910631') format('woff'),
       url('../font/rt-iconse7e9.ttf?43910631') format('truetype'),
       url('../font/rt-iconse7e9.svg?43910631#rt-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'rt-icons';
    src: url('../font/rt-icons.svg?43910631#rt-icons') format('svg');
  }
}
*/
[class^="rt-"]:before, [class*=" rt-"]:before {
  font-family: "rt-icons";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit; 
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.rt-linkedin-in:before { content: '\e800'; } /* '' */
.rt-location-dot:before { content: '\e801'; } /* '' */
.rt-message:before { content: '\e802'; } /* '' */
.rt-phone-flip:before { content: '\e803'; } /* '' */
.rt-play:before { content: '\e804'; } /* '' */
.rt-plus:before { content: '\e805'; } /* '' */
.rt-quote-left:before { content: '\e806'; } /* '' */
.rt-twitter:before { content: '\e807'; } /* '' */
.rt-user:before { content: '\e808'; } /* '' */
.rt-angle-down:before { content: '\e809'; } /* '' */
.rt-angle-right:before { content: '\e80a'; } /* '' */
.rt-angles-up:before { content: '\e80b'; } /* '' */
.rt-arrow-left:before { content: '\e80c'; } /* '' */
.rt-arrow-left-long:before { content: '\e80d'; } /* '' */
.rt-arrow-right:before { content: '\e80e'; } /* '' */
.rt-arrow-right-long:before { content: '\e80f'; } /* '' */
.rt-book:before { content: '\e810'; } /* '' */
.rt-calendar-days:before { content: '\e811'; } /* '' */
.rt-check:before { content: '\e812'; } /* '' */
.rt-chevrons-left:before { content: '\e813'; } /* '' */
.rt-chevrons-right:before { content: '\e814'; } /* '' */
.rt-comments:before { content: '\e815'; } /* '' */
.rt-envelope:before { content: '\e816'; } /* '' */
.rt-facebook-f:before { content: '\e817'; } /* '' */
.rt-instagram:before { content: '\e818'; } /* '' */
.rt-magnifying-glass:before { content: '\e819'; } /* '' */
.rt-xmark:before { content: '\e81a'; } /* '' */
.rt-thumbtack:before { content: '\e81b'; } /* '' */
.rt-user-1:before { content: '\e81c'; } /* '' */
.rt-heart:before { content: '\e81d'; } /* '' */
.rt-cart-shopping:before { content: '\e81e'; } /* '' */
.rt-star-sharp:before { content: '\e81f'; } /* '' */
.rt-star-half:before { content: '\e820'; } /* '' */
.rt-star:before { content: '\e821'; } /* '' */
.rt-star-sharp-half:before { content: '\e822'; } /* '' */
.rt-truck:before { content: '\e823'; } /* '' */
.rt-basket-shopping:before { content: '\e824'; } /* '' */
.rt-store:before { content: '\e825'; } /* '' */
.rt-user-2:before { content: '\e826'; } /* '' */
.rt-cart:before { content: '\e827'; } /* '' */
.rt-search:before { content: '\e828'; } /* '' */
.rt-heart-big:before { content: '\e829'; } /* '' */
.rt-star-half-stroke-solid:before { content: '\e82a'; } /* '' */
.rt-star-regular:before { content: '\e82b'; } /* '' */
.rt-arrow-down-long:before { content: '\e82c'; } /* '' */
.rt-arrow-up-long:before { content: '\e82d'; } /* '' */
.rt-angle-left:before { content: '\e82e'; } /* '' */
.rt-angle-up:before { content: '\e82f'; } /* '' */
.rt-check-1:before { content: '\e830'; } /* '' */
.rt-download:before { content: '\e831'; } /* '' */
.rt-chart-column:before { content: '\e832'; } /* '' */
.rt-heart-1:before { content: '\e833'; } /* '' */
.rt-spin4:before { content: '\e834'; } /* '' */
.rt-list:before { content: '\e835'; } /* '' */
.rt-grid-2-plus:before { content: '\e836'; } /* '' */
.rt-sliders-simple:before { content: '\e837'; } /* '' */
.rt-filter-list:before { content: '\e838'; } /* '' */
.rt-spin6:before { content: '\e839'; } /* '' */
.rt-grid-2:before { content: '\e83a'; } /* '' */
.rt-phone-volume:before { content: '\e83b'; } /* '' */
.rt-tags:before { content: '\e83c'; } /* '' */
.rt-clock-regular:before { content: '\e83d'; } /* '' */
.rt-circle-user-regular:before { content: '\e83e'; } /* '' */
.rt-circle-check:before { content: '\e83f'; } /* '' */
.rt-solutions:before { content: '\e840'; } /* '' */
.rt-headset:before { content: '\e841'; } /* '' */
.rt-angles-right:before { content: '\e842'; } /* '' */
.rt-angles-right-1:before { content: '\e843'; } /* '' */
.rt-minus:before { content: '\e844'; } /* '' */
.rt-minus-1:before { content: '\e845'; } /* '' */
.rt-minus-2:before { content: '\e846'; } /* '' */
.rt-ok-circled:before { content: '\e853'; } /* '' */
.rt-quote:before { content: '\ea59'; } /* '' */
.rt-location-dot-1:before { content: '\ea5a'; } /* '' */
.rt-envelope-1:before { content: '\ea5b'; } /* '' */
.rt-phone-flip-1:before { content: '\ea5c'; } /* '' */
.rt-icon-check:before { content: '\ea5d'; } /* '' */
.rt-phone-office:before { content: '\ea5e'; } /* '' */
.rt-plus-regular:before { content: '\ea5f'; } /* '' */
.rt-minus-regular:before { content: '\ea60'; } /* '' */
.rt-arrow-right-regular:before { content: '\ea61'; } /* '' */
.rt-map-location-dot:before { content: '\ea62'; } /* '' */
.rt-headset-1:before { content: '\ea63'; } /* '' */
.rt-envelope-open-text:before { content: '\ea64'; } /* '' */
.rt-arrow-up-right:before { content: '\ea65'; } /* '' */